elevator-system/src/main/resources/log4j2.dtd

<!ELEMENT Configuration (Appenders,Loggers)>
<!ELEMENT Appenders (Console)>
<!ELEMENT Console (PatternLayout)>
<!ATTLIST Console name NMTOKEN #REQUIRED>
<!ATTLIST Console target NMTOKEN #REQUIRED>
<!ELEMENT PatternLayout EMPTY>
<!ATTLIST PatternLayout pattern CDATA #REQUIRED>
<!ELEMENT Loggers (Root)>
<!ELEMENT Root (AppenderRef)>
<!ATTLIST Root level NMTOKEN #REQUIRED>
<!ELEMENT AppenderRef EMPTY>
<!ATTLIST AppenderRef ref NMTOKEN #REQUIRED>